body {
    /*background-color: lightgrey;*/
    margin: 20px;
}
    
h1 {
    color: darkslateblue;
    font-family: Verdana;
    font-size: 30px;
    margin-bottom: 10px;
}
    
h2 {
    color: darkslateblue;
    font-family: Verdana; 
    font-size: 25px;
    margin-bottom: 20px;
}

h3 {
    color: darkslateblue;
    font-family: Verdana; 
    font-size: 15px;
    margin-bottom: 20px;
}
    
p {
    font-family: Georgia;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 10px;
}
    
    /* This rule set applies for all ul tags inside main tags*/
main ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-bottom: 10px;
}
    
main ol {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 10px;
}
    
header {
    background-color: rgb(205, 231, 205);
}
    
    /* Select alla header tags,
    all main tags, footer tags for this ruleset*/
header, main, footer {
    padding: 20px;
}
    
    /* Change all li tags inside nav so
    that they can be displayed beside each other*/
    
nav li {
    display: inline-block;
}
    
    /* Add some space inside a tags in a nav */
    /* This rule set applies for all ul tags inside main tags*/
nav a {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid white; /* Give little taste on the header*/
    color: black;
    text-decoration: none; /*Remove underscore*/
    font-family: 'Gill Sans';
}
    
    /* Change the look of a tags in the nav
    if you hover over then (have your mouse pointer above them*/
nav a:hover {
    color: crimson;
}
    
nav {
    background-color: darksalmon;
}
    
    /* Select all tags that has atribute class="active" */
.active {
    color: cadetblue;
}
    
    /* Style all images inside the main tag the same way*/
main img {
    display: block; /* default is inline for image*/
    width: 30%;
    float: right;
    margin-left: 20px; /*some space between image and text*/
    border-radius: 10px; /* rounded corners */
}